/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

label {
    margin-right: 10px;
}

button {
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    margin-top: 10px;
}
